<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<th:block layout:fragment="css">
</th:block>
<th:block layout:fragment="script">
<script>
</script>
</th:block>

<div layout:fragment="content">
	<div class="container">
	  	<div class="row">
	  		<a class="btn btn-danger pull-right" href="write.do">글쓰기</a>
		</div>
		<div class="row">
			<div id="masonry">
				<div id="columns"></div>
			</div>
		</div>
	</div>  	 
</div>
</html>